{% extends 'base.html.twig' %}

{% block body %}

    <h1>Site d'annonces de voitures</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean condimentum ex nibh, id placerat tortor dictum
        elementum. Nunc non mi lorem. Aenean ligula nibh, interdum ut scelerisque luctus, dignissim quis nibh. Duis nibh
        eros, elementum sed ultricies quis, ullamcorper accumsan nisi. Vivamus nisi lorem, iaculis ac tortor ac, auctor
        hendrerit ipsum. Nullam pellentesque purus nibh, eu mollis neque commodo a. Duis vitae auctor mauris. Aenean
        malesuada, neque ut lobortis posuere, velit enim cursus lacus, et elementum leo erat nec neque. Duis sed odio
        quis augue imperdiet varius.
        <br/>
        Integer sit amet iaculis felis. Donec sem nisi, molestie in sapien id, hendrerit placerat felis. Aenean
        imperdiet rutrum ante, auctor laoreet neque dignissim eu. Donec eu metus sit amet nisi tempus luctus. Sed mollis
        dolor quis quam sagittis, convallis maximus enim blandit. Aenean efficitur nibh non turpis tincidunt, id
        elementum arcu vulputate. Sed suscipit sagittis ligula quis cursus. Curabitur non consectetur nisl. Mauris
        vehicula nulla sit amet nulla vestibulum, sed consectetur nibh luctus. In hac habitasse platea dictumst. Donec
        ornare odio orci, nec laoreet arcu posuere id.
        <br/>
        Curabitur velit sapien, aliquet bibendum interdum at, auctor non mauris. Praesent fringilla quam sit amet orci
        suscipit bibendum. Integer convallis a nulla et accumsan. Donec tristique non diam nec congue. Sed venenatis
        orci eu massa commodo posuere id a dui. Vivamus a lorem sodales, cursus nisl sollicitudin, gravida nisi.
        Praesent ac lacus lorem. Nunc rhoncus sapien sed neque ultricies sollicitudin.
        <br/>
        Ut gravida lectus sit amet ligula lobortis pretium. Vestibulum ac pharetra dui. Ut leo nisi, accumsan ut
        volutpat non, cursus non tortor. Maecenas sagittis, massa eu mattis finibus, libero risus porta nisi, ut
        vestibulum lorem orci in dui. Morbi pharetra a mauris gravida blandit. Sed et fermentum diam, id posuere ligula.
        Etiam pulvinar mollis efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec eros
        neque. Suspendisse id varius nisi, eu dignissim mauris. Donec pretium congue sollicitudin. Aliquam porta mollis
        est. Curabitur orci nulla, volutpat sed lectus et, ultricies congue eros. Proin rhoncus ullamcorper dolor nec
        sodales. Maecenas ultricies ex ut eros volutpat condimentum.
        <br/>
        Vestibulum erat augue, dapibus molestie tempus sit amet, sagittis in nulla. Donec efficitur non ipsum sed
        aliquam. Maecenas ultricies, nibh eget volutpat sollicitudin, nibh nunc ornare erat, non tristique orci ipsum
        vel orci. Suspendisse bibendum, nisi eu pretium vulputate, diam sapien pharetra purus, tincidunt euismod nunc
        orci ac ante. Sed at velit eu ipsum iaculis pretium. Donec vitae aliquam mauris. Integer congue interdum
        ullamcorper. Aliquam erat volutpat. Maecenas ultrices porta urna, ac tincidunt dui porta posuere.
    </p>

{% endblock %}